.napierCalc h1 {
	display: block;
	margin: 10px 0;
	padding: 10px 0 20px 60px;
	overflow: hidden;
	border-bottom: thick solid;
	background: url('preview2.png') no-repeat center left;
	font-size: 175%;
	font-weight: normal;
	text-transform: capitalize;
}
.napierCalc h3 {
	padding: 10px 0 10px 30px;
	font-size: 120%;
	border-bottom: thin solid;
}
.quoteData h3 {
	background: url('person_user.png') no-repeat center left;
}
.quoteResponse h3 {
	background: url('document_list.png') no-repeat center left;
}
.property-label {
	display: inline-block;
	width: 30%;
	padding: 0.1em;
	margin-left: 10px;
	font-weight: bold;
	text-transform: capitalize;
}
.property-value {
	display: inline-block;
	width: 60%;
	padding: 0.05em 0.25em;
	background-color: #EEE;
	min-height: 1.2em;
	vertical-align: top;
}